:root {
    --calculator-width: 394px;
    --calculator-height: 644px;
    --calculator-radius: 12px;
    --calculator-color: #010101;
    --calculator-operations-color: #ff7534;
    --calculator-seperator-width: calc(var(--calculator-width) - 10px);
    --calculator-seperator-height: 0.5px;
    --caclulator-seperator-color: #d9d9d9;
    --calculator-typer-height: 157px;
    --calculator-functions-height: 485px;
    --calculator-functions-button-hover: #564c4c;
    --calculator-functions-column-width: 68px;
    --calculator-functions-column-height: 431px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #191c2b;
    display: grid;
    place-content: center;
}

.calculator {
    min-height: var(--calculator-height);
    width: var(--calculator-width);
    background: var(--calculator-color);
    border-radius: var(--calculator-radius);
}

.calculator .typer {
    min-height: var(--calculator-typer-height);
}

.calculator .seperator {
    background: var(--caclulator-seperator-color);
    min-height: var(--calculator-seperator-height);
    width: var(--calculator-seperator-width);
    margin: 0 auto;
}

.functions {
    color: white;
    font-size: 40px;
}

.functions .expo {
    font-size: 25px;
}
